@*@model IEnumerable<CustomerProfile.Models.CustomerData>*@
@model PagedList.IPagedList<CustomerProfile.Models.CustomerData>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "CustomerDatas", FormMethod.Get, new { style = "margin: 70px;" }))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Customer Image
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CustomerFirstName)*@
            @Html.ActionLink("Customer's First Name", "Index", new { sortOrder = "CustomerFirstName", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CustomerLastName)*@
            @Html.ActionLink("Customer's Last Name", "Index", new { sortOrder = "CustomerLastName", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Line1)*@
            @Html.ActionLink("Physcial Address Line 1", "Index", new { sortOrder = "Line1", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Line2)*@
            @Html.ActionLink("Physcial Address Line 2", "Index", new { sortOrder = "Line2", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.City)*@
            @Html.ActionLink("City", "Index", new { sortOrder = "City", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.State)*@
            @Html.ActionLink("State", "Index", new { sortOrder = "State", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ZipCode)*@
            @Html.ActionLink("ZipCode", "Index", new { sortOrder = "ZipCode", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Country)*@
            @Html.ActionLink("Country", "Index", new { sortOrder = "Country", currentFilter = ViewBag.CurrentFilter })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img class="img" src="@Url.Action(item.Image.ImageName, "images", new { Area =""})"
                     style="width:100px;height:100px; " />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Line1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Line2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))